* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.center-box{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    display: flex;

}

.form-select{
    margin: 0 1rem;
}

button{
    margin: 1rem 0;
    padding: 0 0.5rem;
}
